---
import { Image } from "astro:assets";

import '../styles/global.css';

const title = "Desarrollador Web Full Stack";
const prevImg = "/src/assets/imgs/perfil.webp";
const description =
  "Desarrollador Web Full Stack con +1 año de experiencia en el desarrollo de software, técnico en informática.";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="index, follow" />
    <meta name="author" content="Jardon Bruno" />
    <meta name="description" content={description} />

    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content="website" />
    <meta property="og:image" content={prevImg} />
    <meta property="og:image:alt" content="Foto de perfil de Jardón Bruno" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={prevImg} />

    <title>Jardón Bruno | Desarrollador Web Full Stack</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="#start">Inicio</a></li>
          <li><a href="#projects">Proyectos</a></li>
          <li><a href="#experiences">Experiencias</a></li>
          <li><a href="#studies">Estudios</a></li>
          <li><a href="#skills">Habilidades</a></li>
          <li><a href="#aboutme">Sobre mí</a></li>
          <li><a href="#contacts">Contacto</a></li>
        </ul>
      </nav>
    </header>

    <main id="start">
      <section class="hero">
        <Image
          src="/src/assets/imgs/perfil.webp"
          alt="Foto de perfil de Jardón Bruno"
          width={350}
          height={350}
          loading="eager"
        />
        <a href="/src/assets/files/CV-Jardon-Bruno.pdf" class="cta-button"
          >Ver CV</a
        >
        <h1>Jardón Bruno Noel</h1>
        <p class="job-title">{title}</p>
        <p class="bio">
          +1 año de experiencia en el desarrollo de software,
          <strong>técnico en informática.</strong>
        </p>
      </section>

      <section id="projects">
        <h2>Proyectos</h2>
        <ul class="project-list">
          <li>
            <article class="project-card">
              <h3>SysUp</h3>
              <Image
                src="https://raw.githubusercontent.com/brunojardon/SysUp/main/preview.webp"
                alt="Vista previa de SysUp"
                width={300}
                height={200}
                loading="eager"
              />
              <p>
                Script que automatiza el proceso de actualización de sistemas
                basados en Debian, incluyendo actualización de repositorios,
                instalación de paquetes, resolución de dependencias y limpieza.
              </p>
              <p>
                Ofrece la opción de reiniciar el sistema si es necesario después
                de la actualización.
              </p>
              <a
                href="https://github.com/JardonBruno/SysUp"
                class="project-link"
              >
                Código
                <Image
                  src="/src/assets/imgs/socials/github.svg"
                  alt="Logo de Github"
                  width={20}
                  height={20}
                  loading="eager"
                />
              </a>
            </article>
          </li>
        </ul>
      </section>

      <section id="experiences">
        <h2>Experiencias</h2>
        <ul class="experience-list">
          <li>
            <article class="experience-card">
              <header>
                <Image
                  src="/src/assets/imgs/logos/JoseHernandez.webp"
                  alt="Logo de José Hernández"
                  width={100}
                  height={100}
                />
                <h3>José Hernández</h3>
                <p class="job-position">Desarrollador Full Stack</p>
                <p class="job-duration">Noviembre 2023 - Febrero 2023</p>
              </header>
              <div class="job-description">
                <p>
                  Participé en el desarrollo colaborativo de un sistema de
                  consultas, creando el frontend con HTML, CSS (Bootstrap) y
                  JavaScript (Axios).
                </p>
                <p>
                  En el backend, trabajé con Java Spring Boot y MySQL para
                  garantizar la funcionalidad del sistema.
                </p>
              </div>
            </article>
          </li>
          <li>
            <article class="experience-card">
              <header>
                <Image
                  src="/src/assets/imgs/logos/VivenciasBaires.webp"
                  alt="Logo de Vivencias Baires"
                  width={100}
                  height={100}
                />
                <h3>Vivencias Baires</h3>
                <p class="job-position">Desarrollador Full Stack</p>
                <p class="job-duration">Noviembre 2023 - Actualidad</p>
              </header>
              <div class="job-description">
                <p>
                  Especializado en la creación de interfaces de usuario
                  reactivas y adaptables usando TypeScript, NextJS, React y
                  TailwindCSS.
                </p>
                <p>
                  Desarrollo de APIs RESTful con Java Spring Boot y NestJS,
                  implementación de seguridad con JWT y trabajo con bases de
                  datos MongoDB.
                </p>
              </div>
            </article>
          </li>
        </ul>
      </section>

      <section id="studies">
        <h2>Estudios</h2>
        <ul class="education-list">
          <li>
            <article class="education-card">
              <Image
                src="/src/assets/imgs/logos/JoseHernandez.webp"
                alt="Logo de José Hernández"
                width={100}
                height={100}
              />
              <h3>José Hernández</h3>
              <p class="degree">Técnico en Informática</p>
              <p class="education-duration">Marzo 2016 - Diciembre 2023</p>
            </article>
          </li>
          <li>
            <article class="education-card">
              <h3>English</h3>
              <p class="degree">Inglés Técnico</p>
              <p class="education-duration">Marzo 2024 - Actualidad</p>
            </article>
          </li>
          <li>
            <article class="education-card">
              <Image
                src="/src/assets/imgs/logos/UTN.webp"
                alt="Logo de UTN"
                width={100}
                height={100}
              />
              <h3>UTN</h3>
              <p class="degree">Ingeniería en Sistemas</p>
              <p class="education-duration">Diciembre 2024 - Actualidad</p>
            </article>
          </li>
        </ul>
      </section>

      <section id="skills">
        <h2>Habilidades</h2>
        <div class="skills-container">
          <section class="skill-category">
            <h3>Frontend</h3>
            <ul class="skill-list">
              <li>
                <Image
                  src="/src/assets/imgs/skills/html.svg"
                  alt="HTML"
                  title="HTML"
                  width={50}
                  height={50}
                  loading="lazy"
                />
              </li>
              <li>
                <Image
                  src="/src/assets/imgs/skills/css.svg"
                  alt="CSS"
                  title="CSS"
                  width={50}
                  height={50}
                  loading="lazy"
                />
              </li>
              <li>
                <Image
                  src="/src/assets/imgs/skills/js.svg"
                  alt="JavaScript"
                  title="JavaScript"
                  width={50}
                  height={50}
                  loading="lazy"
                />
              </li>
              <li>
                <Image
                  src="/src/assets/imgs/skills/react.svg"
                  alt="React"
                  title="React"
                  width={50}
                  height={50}
                  loading="lazy"
                />
              </li>
              <li>
                <Image
                  src="/src/assets/imgs/skills/nextjs.svg"
                  alt="NextJS"
                  title="NextJS"
                  width={50}
                  height={50}
                  loading="lazy"
                />
              </li>
              <li>
                <Image
                  src="/src/assets/imgs/skills/tailwind.svg"
                  alt="TailwindCSS"
                  title="TailwindCSS"
                  width={50}
                  height={50}
                  loading="lazy"
                />
              </li>
            </ul>
          </section>
          <section class="skill-category">
            <h3>Backend</h3>
            <ul class="skill-list">
              <li>
                <Image
                  src="/src/assets/imgs/skills/nestjs.svg"
                  alt="NestJS"
                  title="NestJS"
                  width={50}
                  height={50}
                  loading="lazy"
                />
              </li>
              <li>
                <Image
                  src="/src/assets/imgs/skills/nodejs.svg"
                  alt="NodeJS"
                  title="NodeJS"
                  width={50}
                  height={50}
                  loading="lazy"
                />
              </li>
              <li>
                <Image
                  src="/src/assets/imgs/skills/php.svg"
                  alt="PHP"
                  title="PHP"
                  width={50}
                  height={50}
                  loading="lazy"
                />
              </li>
              <li>
                <Image
                  src="/src/assets/imgs/skills/spring-boot.svg"
                  alt="Spring Boot"
                  title="Spring Boot"
                  width={50}
                  height={50}
                  loading="lazy"
                />
              </li>
              <li>
                <Image
                  src="/src/assets/imgs/skills/ts.svg"
                  alt="TypeScript"
                  title="TypeScript"
                  width={50}
                  height={50}
                  loading="lazy"
                />
              </li>
            </ul>
          </section>
          <section class="skill-category">
            <h3>Bases de datos</h3>
            <ul class="skill-list">
              <li>
                <Image
                  src="/src/assets/imgs/skills/mongodb.svg"
                  alt="MongoDB"
                  title="MongoDB"
                  width={50}
                  height={50}
                  loading="lazy"
                />
              </li>
              <li>
                <Image
                  src="/src/assets/imgs/skills/mysql.svg"
                  alt="MySQL"
                  title="MySQL"
                  width={50}
                  height={50}
                  loading="lazy"
                />
              </li>
            </ul>
          </section>
          <section class="skill-category">
            <h3>Herramientas</h3>
            <ul class="skill-list">
              <li>
                <Image
                  src="/src/assets/imgs/skills/git.svg"
                  alt="Git"
                  title="Git"
                  width={50}
                  height={50}
                  loading="lazy"
                />
              </li>
              <li>
                <Image
                  src="/src/assets/imgs/skills/vscode.svg"
                  alt="Visual Studio Code"
                  title="Visual Studio Code"
                  width={50}
                  height={50}
                  loading="lazy"
                />
              </li>
              <li>
                <Image
                  src="/src/assets/imgs/skills/bash.svg"
                  alt="Bash"
                  title="Bash"
                  width={50}
                  height={50}
                  loading="lazy"
                />
              </li>
              <li>
                <Image
                  src="/src/assets/imgs/skills/virtualbox.webp"
                  alt="VirtualBox"
                  title="VirtualBox"
                  width={50}
                  height={50}
                  loading="lazy"
                />
              </li>
            </ul>
          </section>
          <section class="skill-category">
            <h3>Sistemas Operativos</h3>
            <ul class="skill-list">
              <li>
                <Image
                  src="/src/assets/imgs/skills/windows.svg"
                  alt="Windows"
                  title="Windows"
                  width={50}
                  height={50}
                  loading="lazy"
                />
              </li>
              <li>
                <Image
                  src="/src/assets/imgs/skills/debian.svg"
                  alt="Debian"
                  title="Debian"
                  width={50}
                  height={50}
                  loading="lazy"
                />
              </li>
              <li>
                <Image
                  src="/src/assets/imgs/skills/ubuntu.svg"
                  alt="Ubuntu"
                  title="Ubuntu"
                  width={50}
                  height={50}
                  loading="lazy"
                />
              </li>
            </ul>
          </section>
        </div>
      </section>

      <section id="aboutme">
        <h2>Sobre mí</h2>
        <p>
          A los 12 años comencé a programar con C++, HTML, CSS y JavaScript.
          Desde entonces, he estado inmerso en el mundo de la informática,
          creando software, solucionando problemas de hardware, jugando con
          routers, probando sistemas Linux y explorando la ciberseguridad, todo
          mientras asistía a una escuela secundaria técnica en informática.
        </p>
      </section>
    </main>

    <footer id="contacts">
      <h2>Contacto</h2>
      <ul class="social-links">
        <li>
          <a
            href="https://github.com/BrunoJardon"
            target="_blank"
            rel="noopener noreferrer"
          >
            <Image
              src="/src/assets/imgs/socials/github.svg"
              alt="Github"
              title="Github"
              loading="lazy"
              width={30}
              height={30}
            />
          </a>
        </li>
        <li>
          <a
            href="https://www.linkedin.com/in/brunojardon/"
            target="_blank"
            rel="noopener noreferrer"
          >
            <Image
              src="/src/assets/imgs/socials/linkedin.svg"
              alt="LinkedIn"
              title="LinkedIn"
              loading="lazy"
              width={30}
              height={30}
            />
          </a>
        </li>
      </ul>
      <p>
        <span id="email">brunojardon3@gmail.com</span>
        <button
          onclick="copyToClipboard()"
          aria-label="Copiar correo electrónico">Copiar</button
        >
      </p>
    </footer>
  </body>
</html>
